<p id="notice"><%= notice %></p>

<div class="panel panel-default">

<div class="panel-header">stuff</div>

<div class="panel-body">


</div>

<div class="panel-footer">

<%= link_to 'Edit', edit_stuff_path(@stuff) ,class:"btn btn-xs btn-danger" %> |
<%= link_to 'Back', stuffs_path , class:"btn btn-xs btn-danger" %>

</div></div>
